In [6]:
import pandas as pd
import numpy as np
import tensorflow as tf
tf.compat.v1.disable_eager_execution()

from tensorflow import keras
from tensorflow.keras import layers

In [102]:
df = pd.read_csv("data_wit_features.csv", sep=";", decimal=",")
df.drop("Unnamed: 0", axis=1, inplace=True)

In [103]:
df.head()

,lob,group_code,group_name,accident_year,development_year,development_lag,incurred_loss,cumulative_paid_loss,bulk_loss,earned_premium_direct,...,posted_reserve_97,calendar_year,incremental_paid_loss,case_reserves,incremental_paid_actual,incremental_paid,cumulative_paid_actual,cumulative_paid,case_reserves_actual,bucket
0,commercial_auto,10022,Agway Ins Co,1988,1988,1,179,72,71,1070,...,1400,1988,72,0.108850,0.073245,0.073245,0.073245,0.073245,0.108850,NaN
1,commercial_auto,10022,Agway Ins Co,1988,1989,2,151,122,17,1070,...,1400,1989,50,0.029502,0.050865,0.050865,0.124110,0.124110,0.029502,train
2,commercial_auto,10022,Agway Ins Co,1988,1990,3,163,142,0,1070,...,1400,1990,20,0.021363,0.020346,0.020346,0.144456,0.144456,0.021363,train
3,commercial_auto,10022,Agway Ins Co,1988,1991,4,172,156,0,1070,...,1400,1991,14,0.016277,0.014242,0.014242,0.158698,0.158698,0.016277,train
4,commercial_auto,10022,Agway Ins Co,1988,1992,5,181,167,0,1070,...,1400,1992,11,0.014242,0.011190,0.011190,0.169888,0.169888,0.014242,train

### Datafit

In [104]:
df.head()

,lob,group_code,group_name,accident_year,development_year,development_lag,incurred_loss,cumulative_paid_loss,bulk_loss,earned_premium_direct,...,posted_reserve_97,calendar_year,incremental_paid_loss,case_reserves,incremental_paid_actual,incremental_paid,cumulative_paid_actual,cumulative_paid,case_reserves_actual,bucket
0,commercial_auto,10022,Agway Ins Co,1988,1988,1,179,72,71,1070,...,1400,1988,72,0.108850,0.073245,0.073245,0.073245,0.073245,0.108850,NaN
1,commercial_auto,10022,Agway Ins Co,1988,1989,2,151,122,17,1070,...,1400,1989,50,0.029502,0.050865,0.050865,0.124110,0.124110,0.029502,train
2,commercial_auto,10022,Agway Ins Co,1988,1990,3,163,142,0,1070,...,1400,1990,20,0.021363,0.020346,0.020346,0.144456,0.144456,0.021363,train
3,commercial_auto,10022,Agway Ins Co,1988,1991,4,172,156,0,1070,...,1400,1991,14,0.016277,0.014242,0.014242,0.158698,0.158698,0.016277,train
4,commercial_auto,10022,Agway Ins Co,1988,1992,5,181,167,0,1070,...,1400,1992,11,0.014242,0.011190,0.011190,0.169888,0.169888,0.014242,train

In [3]:
import numpy as np

In [107]:
def df_to_model_input(df):
    paid = df.pivot_table(index=['lob','group_code','accident_year'], columns='development_lag', values=['incremental_paid'], aggfunc=np.sum)
    reserves = df.pivot_table(index=['group_code','lob','accident_year'], columns='development_lag', values=['case_reserves'], aggfunc=np.sum)

    #triangles = np.append(paid.to_numpy()[:,np.newaxis],reserves.to_numpy()[:,np.newaxis], axis=2)

    triangles=np.stack([paid.to_numpy(),reserves.to_numpy()])

    print(triangles.shape)

    company_code = paid.index.get_level_values(0)

    return [triangles, company_code]

In [108]:
df.set_index('lob',inplace=True)

In [109]:
filter_validation = (df["bucket"].isin(["train", "validation"])) & (df["development_lag"] ==1)

In [111]:
np.unique(df[(df["bucket"].isin(["train", "validation"]))]["development_lag"])

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10])

In [129]:
lob='commercial_auto'
filter_validation = (df["bucket"].isin(["validation"])) 
filter_train = (df["bucket"].isin(["train", "validation"])) 
filter_test = (df["bucket"].isin(["test"])) | (df["calendar_year"] ==1998)
training_data = df_to_model_input(df[filter_train].loc[lob])
test_data = df_to_model_input(df[filter_test].loc[lob])
validaiton_data = df_to_model_input(df[filter_validation].loc[lob])

(2, 450, 9)
(2, 450, 9)
(2, 450, 9)

In [7]:
x_df = pd.read_csv("x.csv", sep=";", decimal=",")
x_df.drop("Unnamed: 0", axis=1, inplace=True)

y_df = pd.read_csv("y.csv", sep=";", decimal=",")
y_df.drop("Unnamed: 0", axis=1, inplace=True)

validation = pd.read_csv("validation.csv", sep=";", decimal=",")
validation.drop("Unnamed: 0", axis=1, inplace=True)

In [41]:
x_df[x_df["ay_seq_input.9"] == 0.124110]

Empty DataFrame
Columns: [ay_seq_input.1, ay_seq_input.2, ay_seq_input.3, ay_seq_input.4, ay_seq_input.5, ay_seq_input.6, ay_seq_input.7, ay_seq_input.8, ay_seq_input.9, ay_seq_input.10, ay_seq_input.11, ay_seq_input.12, ay_seq_input.13, ay_seq_input.14, ay_seq_input.15, ay_seq_input.16, ay_seq_input.17, ay_seq_input.18, group_code]
Index: []

In [38]:
x_df.head(30)

,ay_seq_input.1,ay_seq_input.2,ay_seq_input.3,ay_seq_input.4,ay_seq_input.5,ay_seq_input.6,ay_seq_input.7,ay_seq_input.8,ay_seq_input.9,ay_seq_input.10,ay_seq_input.11,ay_seq_input.12,ay_seq_input.13,ay_seq_input.14,ay_seq_input.15,ay_seq_input.16,ay_seq_input.17,ay_seq_input.18,group_code
0,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.073245,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.108850,0
1,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.073245,0.050865,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.108850,0.029502,0
2,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.073245,0.050865,0.020346,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.108850,0.029502,0.021363,0
3,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.073245,0.050865,0.020346,0.014242,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,0.108850,0.029502,0.021363,0.016277,0
4,-99.000000,-99.000000,-99.000000,-99.000000,0.073245,0.050865,0.020346,0.014242,0.011190,-99.00000,-99.000000,-99.000000,-99.000000,0.108850,0.029502,0.021363,0.016277,0.014242,0
5,-99.000000,-99.000000,-99.000000,0.073245,0.050865,0.020346,0.014242,0.011190,0.008138,-99.00000,-99.000000,-99.000000,0.108850,0.029502,0.021363,0.016277,0.014242,0.037640,0
6,-99.000000,-99.000000,0.073245,0.050865,0.020346,0.014242,0.011190,0.008138,0.005086,-99.00000,-99.000000,0.108850,0.029502,0.021363,0.016277,0.014242,0.037640,0.033571,0
7,-99.000000,0.073245,0.050865,0.020346,0.014242,0.011190,0.008138,0.005086,0.001017,-99.00000,0.108850,0.029502,0.021363,0.016277,0.014242,0.037640,0.033571,0.029502,0
8,0.073245,0.050865,0.020346,0.014242,0.011190,0.008138,0.005086,0.001017,0.003052,0.10885,0.029502,0.021363,0.016277,0.014242,0.037640,0.033571,0.029502,0.030519,0
9,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.118467,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.123693,0
10,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.118467,0.108014,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.123693,0.069686,0
11,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.118467,0.108014,0.033101,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.123693,0.069686,0.083624,0
12,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.118467,0.108014,0.033101,0.040070,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,0.123693,0.069686,0.083624,0.059233,0
13,-99.000000,-99.000000,-99.000000,-99.000000,0.118467,0.108014,0.033101,0.040070,0.081882,-99.00000,-99.000000,-99.000000,-99.000000,0.123693,0.069686,0.083624,0.059233,0.026132,0
14,-99.000000,-99.000000,-99.000000,0.118467,0.108014,0.033101,0.040070,0.081882,0.013937,-99.00000,-99.000000,-99.000000,0.123693,0.069686,0.083624,0.059233,0.026132,0.013937,0
15,-99.000000,-99.000000,0.118467,0.108014,0.033101,0.040070,0.081882,0.013937,0.005226,-99.00000,-99.000000,0.123693,0.069686,0.083624,0.059233,0.026132,0.013937,0.006969,0
16,-99.000000,0.118467,0.108014,0.033101,0.040070,0.081882,0.013937,0.005226,0.003484,-99.00000,0.123693,0.069686,0.083624,0.059233,0.026132,0.013937,0.006969,0.003484,0
17,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.178423,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.221300,0
18,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.178423,0.123098,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.221300,0.118949,0
19,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.178423,0.123098,0.149378,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.221300,0.118949,0.071923,0
20,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.178423,0.123098,0.149378,0.087137,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,0.221300,0.118949,0.071923,0.033195,0
21,-99.000000,-99.000000,-99.000000,-99.000000,0.178423,0.123098,0.149378,0.087137,0.008299,-99.00000,-99.000000,-99.000000,-99.000000,0.221300,0.118949,0.071923,0.033195,0.016598,0
22,-99.000000,-99.000000,-99.000000,0.178423,0.123098,0.149378,0.087137,0.008299,0.006916,-99.00000,-99.000000,-99.000000,0.221300,0.118949,0.071923,0.033195,0.016598,0.008299,0
23,-99.000000,-99.000000,0.178423,0.123098,0.149378,0.087137,0.008299,0.006916,0.004149,-99.00000,-99.000000,0.221300,0.118949,0.071923,0.033195,0.016598,0.008299,0.002766,0
24,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.344015,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.341188,0
25,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.344015,0.161169,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.341188,0.090481,0
26,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.344015,0.161169,0.035815,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.341188,0.090481,0.209237,0
27,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.344015,0.161169,0.035815,0.096136,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,0.341188,0.090481,0.209237,0.107446,0
28,-99.000000,-99.000000,-99.000000,-99.000000,0.344015,0.161169,0.035815,0.096136,0.015080,-99.00000,-99.000000,-99.000000,-99.000000,0.341188,0.090481,0.209237,0.107446,0.095193,0
29,-99.000000,-99.000000,-99.000000,0.344015,0.161169,0.035815,0.096136,0.015080,0.066918,-99.00000,-99.000000,-99.000000,0.341188,0.090481,0.209237,0.107446,0.095193,0.049010,0

In [8]:
company_input = x_df["group_code"].to_numpy()

In [9]:
y = y_df.to_numpy()
x = x_df.to_numpy()
x.shape

(2250, 19)

In [10]:
y = y[:,:, np.newaxis]
x = x[:,:-1,np.newaxis]

val_single = validation
validation_x_tri = val_single[validation.columns[:18]].to_numpy()
validation_x_comp =val_single["x.group_code"].to_numpy()
validation_x_tri = validation_x_tri[:,:,np.newaxis]
validation_x_comp = validation_x_comp[:,np.newaxis]

validation_y = val_single[val_single.columns[val_single.columns.str.startswith("y")]].to_numpy()
validation_y_paid = validation_y[:,:9,np.newaxis]
validation_y_reserve = validation_y[:,9:,np.newaxis]

x_input = np.concatenate([x[:,:9], x[:,9:]], axis=2)
y_input = np.concatenate([y[:,:9], y[:,9:]], axis=2)
validation_x_tri = np.concatenate([validation_x_tri[:,:9], validation_x_tri[:,9:]], axis=2)

In [12]:
print(f"x shape: {x.shape}, y shape : {y.shape},  validation x shape : {validation_x_tri.shape},  validation y shape : {validation_y.shape}")

x shape: (2250, 18, 1), y shape : (2250, 18, 1),  validation x shape : (850, 9, 2),  validation y shape : (850, 18)

In [73]:
print(x_input.shape, y_input.shape)

(45, 9, 2) (45, 9, 2)

In [13]:
from tensorflow.keras.layers import TimeDistributed, GRU, Dense, RepeatVector, LSTM
from tensorflow.keras.models import Sequential

import pandas as pd
import numpy as np
import tensorflow as tf
tf.compat.v1.disable_eager_execution()

from tensorflow import keras
from tensorflow.keras import layers

from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam
import tensorflow.keras.backend as tfk

In [14]:

tfk.clear_session()

ay_seq_input  = layers.Input(shape = (9,2), name = 'ay_seq_input' )
company_code_input = layers.Input(shape = 1, name = "company_input")
company_code_embedding = layers.Embedding(200,49)(company_code_input)
company_code_embedding = layers.Flatten()(company_code_embedding)
company_code_embedding = layers.RepeatVector(9)(company_code_embedding)
   

encoded = layers.Masking(mask_value = -99)(ay_seq_input)
encoded = layers.GRU(128, dropout = 0.2, recurrent_dropout = 0.2)(encoded)

concat_layer = lambda x: layers.Concatenate()([x, company_code_embedding])
decoded = layers.RepeatVector(9)(encoded)
decoded = layers.GRU(128, return_sequences = True, dropout = 0.2, recurrent_dropout = 0.2)(decoded)
decoded = layers.Lambda(concat_layer)(decoded)

case_reserves_output = layers.TimeDistributed(layers.Dense(units = 64, activation = "relu"))(decoded)
case_reserves_output = layers.TimeDistributed(layers.Dropout(rate = 0.2))(case_reserves_output)
case_reserves_output = layers.TimeDistributed(layers.Dense(units = 1, activation = "relu"), name = "case_reserves_output")(case_reserves_output)

paid_output = layers.TimeDistributed(layers.Dense(units = 64, activation = "relu"))(decoded)
paid_output = layers.TimeDistributed(layers.Dropout(rate = 0.2))(paid_output)
paid_output = layers.TimeDistributed(layers.Dense(units = 1, activation = "relu"), name = "paid_output")(paid_output)



model = keras.Model(
inputs = [ay_seq_input, company_code_input],
outputs = [paid_output, case_reserves_output],
    name = "DeepTriangle"
)

model.summary()

Model: "DeepTriangle"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
ay_seq_input (InputLayer)       [(None, 9, 2)]       0
__________________________________________________________________________________________________
masking (Masking)               (None, 9, 2)         0           ay_seq_input[0][0]
__________________________________________________________________________________________________
gru (GRU)                       (None, 128)          50688       masking[0][0]
__________________________________________________________________________________________________
repeat_vector_1 (RepeatVector)  (None, 9, 128)       0           gru[0][0]
__________________________________________________________________________________________________
gru_1 (GRU)                     (None, 9, 128)       99072       repeat_vector_1[0][0]
__________________________________________________________________________________________________
lambda (Lambda)                 (None, 9, 177)       0           gru_1[0][0]
__________________________________________________________________________________________________
time_distributed_2 (TimeDistrib (None, 9, 64)        11392       lambda[0][0]
__________________________________________________________________________________________________
time_distributed (TimeDistribut (None, 9, 64)        11392       lambda[0][0]
__________________________________________________________________________________________________
time_distributed_3 (TimeDistrib (None, 9, 64)        0           time_distributed_2[0][0]
__________________________________________________________________________________________________
time_distributed_1 (TimeDistrib (None, 9, 64)        0           time_distributed[0][0]
__________________________________________________________________________________________________
company_input (InputLayer)      [(None, 1)]          0
__________________________________________________________________________________________________
paid_output (TimeDistributed)   (None, 9, 1)         65          time_distributed_3[0][0]
__________________________________________________________________________________________________
case_reserves_output (TimeDistr (None, 9, 1)         65          time_distributed_1[0][0]
==================================================================================================
Total params: 172,674
Trainable params: 172,674
Non-trainable params: 0
__________________________________________________________________________________________________

In [17]:
#%%
''' 9. Fit og Predict model
'''
# fit model - stopper efter 200 ved lille udvikling og gemmer bedste resultat - vigtigt pga. ML modeller svinger meget
callback = EarlyStopping(min_delta = 0.001, patience = 200, mode = "min", restore_best_weights = True)
missing_value = -99

# masked funktion benyttet af Kuo i Deep Triangle
def masked_mse(missing_value):
    
    def custom_mse(y_true, y_pred):
    # assume 1st dimension is the number of samples
        keep= tfk.cast(tfk.not_equal(y_true, missing_value), tfk.floatx())
        mse = tfk.mean(tfk.square((y_pred-y_true)*keep), axis=2)

        return mse

    return custom_mse


model.compile(optimizer = Adam(learning_rate=0.0005, amsgrad = True),
            loss         = [masked_mse(missing_value),masked_mse(missing_value)],
            loss_weights = [0.5,0.5])

### beregner model

In [18]:
paid_y = y_input[:,:,0,np.newaxis]
rbns_y = y_input[:,:,1,np.newaxis]

In [19]:
%%time
#beregn_model.fit(x= X_train,y= y_train, batch_size = X_dim1, epochs = 99, callbacks = (callback), verbose = 0) KRÃ†VER valideringsdata
history = model.fit(x= [x_input, company_input],
                 y=  [paid_y, rbns_y],
                 batch_size = 2250,
                 epochs = 200,
                 callbacks = [callback],
                  
                 validation_data=[[validation_x_tri,validation_x_comp],[validation_y_paid,validation_y_reserve]],
                 verbose = 0)

#Y_ibnr = model.predict(X_ibnr)

/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/engine/training.py:2371: UserWarning: `Model.state_updates` will be removed in a future version. This property should not be used in TensorFlow 2.0, as `updates` are applied automatically.
  warnings.warn('`Model.state_updates` will be removed in a future version. '

CPU times: user 9min 45s, sys: 1min 10s, total: 10min 55s
Wall time: 1min 47s

In [259]:
model.predict

In [20]:
test_data = pd.read_csv("test_data.csv", sep=";", decimal=",")
test_data.drop("Unnamed: 0", axis=1, inplace=True)

In [21]:

test_data_x_tri = test_data[test_data.columns[:18]].to_numpy()
test_data_x_comp =test_data["x.group_code"].to_numpy()
test_data_x_tri = test_data_x_tri[:,:,np.newaxis]
test_data_x_comp = test_data_x_comp[:,np.newaxis]

test_data_y = test_data[test_data.columns[test_data.columns.str.startswith("y")]].to_numpy()
test_data_y_paid = test_data_y[:,:9,np.newaxis]
test_data_y_reserve = test_data_y[:,9:,np.newaxis]

test_data_x_tri = np.concatenate([test_data_x_tri[:,:9], test_data_x_tri[:,9:]], axis=2)

In [22]:
test_data_x_tri.shape

(450, 9, 2)

In [23]:
preds = model.predict([test_data_x_tri, test_data_x_comp])

In [34]:
pd.DataFrame(test_data_x_tri[:,:,0]).head(10)

,0,1,2,3,4,5,6,7,8
0,0.118467,0.108014,0.033101,0.040070,0.081882,0.013937,0.005226,0.003484,0.001742
1,-99.000000,0.178423,0.123098,0.149378,0.087137,0.008299,0.006916,0.004149,0.002766
2,-99.000000,-99.000000,0.344015,0.161169,0.035815,0.096136,0.015080,0.066918,0.025448
3,-99.000000,-99.000000,-99.000000,0.120999,0.055425,0.065574,0.187354,0.030445,0.026542
4,-99.000000,-99.000000,-99.000000,-99.000000,0.130653,0.109835,0.194544,0.142139,0.034458
5,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.145390,0.109338,0.156028,0.065603
6,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.164843,0.099198,0.017505
7,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.127941,0.057353
8,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.167070
9,0.333952,0.499072,0.083488,0.096475,0.089054,-0.053803,0.000000,0.000000,0.000000

In [32]:
pd.DataFrame(preds[0].reshape(450,9)).head(20)

           0         1         2         3         4         5    6    7    8
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
1   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
2   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
3   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
4   0.022544  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
5   0.061976  0.023813  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
6   0.060707  0.030279  0.004886  0.000000  0.000000  0.000000  0.0  0.0  0.0
7   0.101514  0.067108  0.035268  0.007622  0.000000  0.000000  0.0  0.0  0.0
8   0.124123  0.092521  0.062919  0.038220  0.015175  0.000000  0.0  0.0  0.0
9   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
11  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
12  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
13  0.007726  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
14  0.043834  0.012376  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
15  0.080689  0.035116  0.014303  0.000000  0.000000  0.000000  0.0  0.0  0.0
16  0.118076  0.060329  0.029593  0.012663  0.000000  0.000000  0.0  0.0  0.0
17  0.184897  0.135293  0.072117  0.038189  0.017059  0.001484  0.0  0.0  0.0
18  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0
19  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0

In [31]:
pd.DataFrame(preds[1].reshape(450,9)).head(10)

,0,1,2,3,4,5,6,7,8
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
1,0.001976,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
2,0.009553,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
3,0.016990,0.004205,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
4,0.029840,0.022628,0.016448,0.009404,0.003893,0.000000,0.000000,0.000000,0.00000
5,0.059718,0.037979,0.026397,0.015073,0.004811,0.000000,0.000000,0.000000,0.00000
6,0.055931,0.035235,0.025435,0.017339,0.011624,0.006484,0.002133,0.000000,0.00000
7,0.145582,0.069670,0.039415,0.026184,0.017314,0.010967,0.005478,0.000700,0.00000
8,0.213367,0.122692,0.056259,0.032188,0.023113,0.016824,0.011122,0.007329,0.00432
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000